@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --cal-poly-green: #2e5339ff;
  --hunter-green: #495f41ff;
  --sage: #a2ad91ff;
  --bright-pink-crayola: #ff5666ff;
  --tea-rose-red: #ffccc9ff;
}

body {
  min-height: 100vh;
  display: block;
  place-content: center;
  background-color: #f2ebd0;
}
