@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .hyperlink {
    @apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600
  }
}

:root {
  --cal-poly-green: #2e5339ff;
  --hunter-green: #495f41ff;
  --sage: #a2ad91ff;
  --bright-pink-crayola: #ff5666ff;
  --tea-rose-red: #ffccc9ff;
}

body {
  /* min-height: 100vh; */
  display: block;
  place-content: center;
  background-color: #ffffff;
}

